.main-head{
    text-align: center;
    margin-top: 1em;
    color: red;
}

.menu-a{
    text-decoration: none;
    color:white;
}
.menu-bg{
    background-color: black;
    color:white;
    padding: 15px;
}
iframe{
    width: 100%;
    height:100%;
}
.sub-head{
    text-align: center;
    background-color: yellow;
    margin-top: 3em;
}
.sub-args{
    text-align: center;
    color: blue;
}
img{
    width: 100%;
}